{% extends "navbar.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
{{ form.media }}
<title>New Chore</title>
<body>
	<div class="add">
		<h1>New Chore</h1>
	</div> 
	<div class="col-sm-3">
		<form method='POST' action=''>
			{% csrf_token %}
			{{ form|crispy }}
			<div class='save'>
				<input type='submit' class = "btn btn-success pull-left" value='Add Chore'/>
			</div>
			<div class='cancel'>
				<a href="{% url 'chore_app:choreSummary' house.id housemate.id %}" class="btn btn-danger" role="button">Cancel</a>
			</div>
		</form>
	</div>
</body>
{% endblock %}
