{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'chore_app/css/bootstrap.min.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'chore_app/style.css' %}"/>

<link rel="icon" type="image/png" sizes="16x16" href="{% static 'chore_app/images/icon2.png' %}">

<title>New Housemate</title>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% url 'chore_app:index' %}" class="navbar-brand" text-align="left">Chore Tracker</a>
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
		</div>
	</nav>
	<hi style="position: relative; left: 10px; width: 400; font-size: 25; color: green">Add Housemate</hi> 

	<form method='POST' action='' style="position: relative;left: 10px">{% csrf_token %}		
	{{ form.as_p }}
	<form>
	<input style="position: relative; left: 30px;" type='submit' class = "btn btn-info pull-left" value='Add Housemate'/>

	<div class="button">
		<a href="{% url 'chore_app:index' %}" class="btn btn-info pull-left" role="button">Cancel</a></button>
	</div>
</body>