{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'chore_app/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'chore_app/css/bootstrap.min.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'chore_app/images/icon2.png' %}">
<link rel="stylesheet" type="text/css" href="{% static 'chore_app/style.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<!-- set the heading to the housemate's first name, from database -->
<title>Details</title>
<body>
	<!-- Black navbar header -->
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="{% url 'chore_app:index' house.id %}">ChoreTracker</a>
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right">
					<!-- Settings dropdown menu -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Profile</a></li>
							<li><a href="#">Preferences</a></li>
							<li><a href="#">Help</a></li>
							<li><a href="/accounts/logout/">Log out</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div>
		<div id='name'>
			<h1>{{ housemate.full_name }}</h1>
		</div>
		<div id='add-chore'>
			<a href="{% url 'chore_app:addChore' house.id housemate.id %}" class="btn btn-primary" role="button">Add Chore</a>
		</div>
		{% if overdue_set %} <!-- Overdue Chore Table -->
			<div>
				<div>
					<button id='dropdown-overdue' type='button' class='btn' data-toggle='collapse' data-target='#overdue'><span class="glyphicon glyphicon-triangle-right"></span>OVERDUE </a></button>
				</div>
				<div id='overdue' class='collapse in'>
					<table class="table table-hover">
						<tr>
							<th class="table-header">Chore Title</th>
							<th class="table-header">Due Date</th>
							<th class="table-header"></th>
						</tr>
						{% for chore in overdue_set %}
						{% cycle '<tr>' '' %}
							<td> {{ chore.chore_title}} </td>
							<td> {{ chore.due_date }} </td>
							<td class='delete-btn'><a href="{% url 'chore_app:deleteChore' house.id housemate.id chore.id %}" class="btn btn-danger" role="button" onclick='clicked(event)'>
								<script>
									function clicked(e) {
									    if(!confirm('Are you sure you would like to delete this chore?')) {
									    	e.preventDefault();
									    }
									}
								</script> 
								<span class="glyphicon glyphicon-remove"></span> </a>
							</td>
						{% cycle '</tr>' ''%}
						{% endfor %}
					</table>
				</div>
			</div>
		{% endif %}
		{% if today_set %} <!-- Today Chore Table -->
			<div>
				<div>
					<button id='dropdown-today' type='button' class='btn collapsed' data-toggle='collapse' data-target='#today'><span class="glyphicon glyphicon-triangle-right"></span>TODAY</button>
				</div>
				<div id='today' class='collapse in'>
					<table class="table table-hover">
						<tr>
							<th class="table-header">Chore Title</th>
							<th class="table-header">Due Date</th>
							<th class="table-header"></th>
						</tr>		
						{% for chore in today_set %}
							{% cycle '<tr>' '' %}
								<td> {{ chore.chore_title}} </td>
								<td> {{ chore.due_date }} </td>
								<td class='delete-btn'><a href="{% url 'chore_app:deleteChore' house.id housemate.id chore.id %}" class="btn btn-danger" role="button" onclick='clicked(event)'> 
									<script>
										function clicked(e) {
										    if(!confirm('Are you sure you would like to delete this chore?')) {
										    	e.preventDefault();
										    }
										}
									</script> 
									<span class="glyphicon glyphicon-remove"></span> </a>
								</td>
							{% cycle '</tr>' ''%}
						{% endfor %}
					</table>
				</div>
			</div>
		{% else %}
			<div>
				<div>
					<button id='dropdown-today' type='button' class='btn' data-toggle='collapse' data-target='#today'><span class="glyphicon glyphicon-triangle-right"></span>TODAY</button>
				</div>
				<div id='today' class='collapse in'>
					<p id='no-chores'>No chores for today! <span class='glyphicon glyphicon-check'></span></p>
				</div>
			</div>
		{% endif %}
		{% if tomorrow_set %} <!-- Tomorrow Chore Table -->
			<div>
				<div>
					<button id='dropdown-tomorrow' type='button' class='btn' data-toggle='collapse' data-target='#tomorrow'><span class="glyphicon glyphicon-triangle-right"></span>TOMORROW</button>
				</div>
				<div id='tomorrow' class='collapse in'>
					<table class="table table-hover">
						<tr>
							<th class="table-header">Chore Title</th>
							<th class="table-header">Due Date</th>
							<th class="table-header"></th>
						</tr>			
						{% for chore in tomorrow_set %}
							{% cycle '<tr>' '' %}
								<td> {{ chore.chore_title}} </td>
								<td> {{ chore.due_date }} </td>
								<td class='delete-btn'><a href="{% url 'chore_app:deleteChore' house.id housemate.id chore.id %}" class="btn btn-danger" role="button" onclick='clicked(event)'>
									<script>
										function clicked(e) {
										    if(!confirm('Are you sure you would like to delete this chore?')) {
										    	e.preventDefault();
										    }
										}
									</script> 
									<span class="glyphicon glyphicon-remove"></span> </a>
								</td>
							{% cycle '</tr>' '' %}
						{% endfor %}
					</table>
				</div>
			</div>
		{% else %}
			<div>
				<div>
					<button id='dropdown-tomorrow' type='button' class='btn' data-toggle='collapse' data-target='#tomorrow'><span class="glyphicon glyphicon-triangle-right"></span>TOMORROW</button>
				</div>
				<div id='tomorrow' class='collapse in'>
					<p id='no-chores'>No chores for tomorrow! <span class='glyphicon glyphicon-check'></span></p>
				</div>
			</div>
		{% endif %}
		{% if upcoming_set %} <!-- Upcoming Chore Table -->
			<div>
				<div>
					<button id='dropdown-upcoming' type='button' class='btn' data-toggle='collapse' data-target='#upcoming'><span class="glyphicon glyphicon-triangle-right"></span>UPCOMING</button>
				</div>
				<div id='upcoming' class='collapse in'>
					<table class="table table-hover">
						<tr>
							<th class="table-header">Chore Title</th>
							<th class="table-header">Due Date</th>
							<th class="table-header"></th>
						</tr>			
						{% for chore in upcoming_set %}
						{% cycle '<tr>' '' %}
							<td> {{ chore.chore_title}} </td>
							<td> {{ chore.due_date }} </td>
							<td class='delete-btn'><a href="{% url 'chore_app:deleteChore' house.id housemate.id chore.id %}" class="btn btn-danger" role="button" onclick='clicked(event)'>
								<script>
									function clicked(e) {
									    if(!confirm('Are you sure you would like to delete this chore?')) {
									    	e.preventDefault();
									    }
									}
								</script> 
								<span class="glyphicon glyphicon-remove"></span> </a>
							</td>
						{% cycle '</tr>' ''%}
						{% endfor %}
					</table>
				</div>
			</div>
		{% else %}
			<div>
				<div>
					<button id='dropdown-upcoming' type='button' class='btn' data-toggle='collapse' data-target='#upcoming'><span class="glyphicon glyphicon-triangle-right"></span>UPCOMING</button>
				</div>
				<div id='upcoming' class='collapse in'>
					<p id='no-chores'>No upcoming chores! <span class='glyphicon glyphicon-check'></span></p>
				</div>
			</div>
		{% endif %}
	</div>
</body>
