{% load staticfiles %}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'chore_app/css/bootstrap.min.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'chore_app/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'chore_app/css.stylesheet.css' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'chore_app/images/icon2.png' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/bootstrap.js"></script>
</head>

<!-- set the heading to the housemate's first name, from database -->
<title>Details</title>
<body>
	<!-- Black navbar header -->
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="{% url 'chore_app:index' %}" style="font-family:Cambria"></span> Chore Tracker</a>
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right">
					<!-- Settings dropdown menu -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-family:Cambria">Settings<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">About</a></li>
							<li><a href="#">Preferences</a></li>
							<li><a href="#">Help</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
		<div>
			<h1 style="position: relative; left: 10px; width: 500;">{{housemate.full_name }}</h1>
				<div style="width: 100%;">
			<!-- Overdue Chore Table -->
			<table class="table table-hover">
				<td class="info" style="text-align: center; font-size: 24; font-weight: bold; background-color: red" colspan="4"> OVERDUE</td>
				<tr>
					<th class="info">Status</th>
					<th class="info">Chore Title</th>
					<th class="info">Due Date</th>
					<th class="info"></th>
				</tr>
							
				{% for chore in overdue_set %}
				{% cycle '<tr>' '' %}
								{% if chore.is_done %}
									<td>
										<form method='POST' action=''>
										{% csrf_token %}
										<input type="checkbox" style="position: relative; left: 10px;" name='status' value='is_done' checked />
										</form>
									</td>
									<td><strike> {{ chore.chore_title }} </strike></td>
									<td><strike> {{ chore.due_date }} </strike></td>
								{% else %}
									<td><input type="checkbox" style="position: relative; left: 10px;" name='status'/></td>
									<td> {{ chore.chore_title}} </td>
									<td> {{ chore.due_date }} </td>
								{% endif %}
								<td style="text-align: center;"><a href="{% url 'chore_app:deleteChore' housemate.id chore.id %}" class="btn btn-danger" role="button"> 
									<span class="glyphicon glyphicon-trash"></span> </a>
								</td>
							{% cycle '</tr>' ''%}
							{% endfor %}
			</table>
			<!-- Today Chore Table -->
			<table class="table table-hover">
				<td class="info" style="text-align: center; font-size: 24; font-weight: bold; background-color: rgb(153, 204, 255)" colspan="4"> TODAY</td>
				<tr>
					<th class="info">Status</th>
					<th class="info">Chore Title</th>
					<th class="info">Due Date</th>
					<th class="info"></th>
				</tr>
							
				{% for chore in today_set %}
				{% cycle '<tr>' '' %}
								{% if chore.is_done %}
									<td>
										<form method='POST' action=''>
										{% csrf_token %}
										<input type="checkbox" style="position: relative; left: 10px;" name='status' value='is_done' checked />
										</form>
									</td>
									<td><strike> {{ chore.chore_title }} </strike></td>
									<td><strike> {{ chore.due_date }} </strike></td>
								{% else %}
									<td><input type="checkbox" style="position: relative; left: 10px;" name='status'/></td>
									<td> {{ chore.chore_title}} </td>
									<td> {{ chore.due_date }} </td>
								{% endif %}
								<td style="text-align: center;"><a href="{% url 'chore_app:deleteChore' housemate.id chore.id %}" class="btn btn-danger" role="button"> 
									<span class="glyphicon glyphicon-trash"></span> </a>
								</td>
							{% cycle '</tr>' ''%}
							{% endfor %}
			</table>
			<!-- Tomorrow Chore Table -->
			<table class="table table-hover">
				<td class="info" style="text-align: center; font-size: 24; font-weight: bold; background-color: rgb(153, 204, 255)" colspan="4"> TOMORROW</td>
				<tr>
					<th class="info">Status</th>
					<th class="info">Chore Title</th>
					<th class="info">Due Date</th>
					<th class="info"></th>
				</tr>
							
				{% for chore in tomorrow_set %}
				{% cycle '<tr>' '' %}
								{% if chore.is_done %}
									<td>
										<form method='POST' action=''>
										{% csrf_token %}
										<input type="checkbox" style="position: relative; left: 10px;" name='status' value='is_done' checked />
										</form>
									</td>
									<td><strike> {{ chore.chore_title }} </strike></td>
									<td><strike> {{ chore.due_date }} </strike></td>
								{% else %}
									<td><input type="checkbox" style="position: relative; left: 10px;" name='status'/></td>
									<td> {{ chore.chore_title}} </td>
									<td> {{ chore.due_date }} </td>
								{% endif %}
								<td style="text-align: center;"><a href="{% url 'chore_app:deleteChore' housemate.id chore.id %}" class="btn btn-danger" role="button"> 
									<span class="glyphicon glyphicon-trash"></span> </a>
								</td>
							{% cycle '</tr>' ''%}
							{% endfor %}
			</table>
			<!-- Upcoming Chore Table -->
			<table class="table table-hover">
				<td class="info" style="text-align: center; font-size: 24; font-weight: bold; background-color: rgb(153, 204, 255)" colspan="4"> UPCOMING</td>
				<tr>
					<th class="info">Status</th>
					<th class="info">Chore Title</th>
					<th class="info">Due Date</th>
					<th class="info"></th>
				</tr>
							
				{% for chore in upcoming_set %}
				{% cycle '<tr>' '' %}
								{% if chore.is_done %}
									<td>
										<form method='POST' action=''>
										{% csrf_token %}
										<input type="checkbox" style="position: relative; left: 10px;" name='status' value='is_done' checked />
										</form>
									</td>
									<td><strike> {{ chore.chore_title }} </strike></td>
									<td><strike> {{ chore.due_date }} </strike></td>
								{% else %}
									<td><input type="checkbox" style="position: relative; left: 10px;" name='status'/></td>
									<td> {{ chore.chore_title}} </td>
									<td> {{ chore.due_date }} </td>
								{% endif %}
								<td style="text-align: center;"><a href="{% url 'chore_app:deleteChore' housemate.id chore.id %}" class="btn btn-danger" role="button"> 
									<span class="glyphicon glyphicon-trash"></span> </a>
								</td>
							{% cycle '</tr>' ''%}
							{% endfor %}
			</table>
				</div>
			<div class="button">
				<a href="{% url 'chore_app:addChore' housemate.id %}" class="btn btn-primary" role="button">Add Chore</a></button>
			</div>
		</div>
</body>