{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'chore_app/css/bootstrap.min.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'chore_app/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'chore_app/css.stylesheet.css' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'chore_app/images/icon2.png' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/bootstrap.js"></script>
</head>

<!-- set the heading to the housemate's first name, from database -->
<title>Details</title>
<body>
	<!-- Black navbar header -->
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="{% url 'chore_app:index' %}" style="font-family:Cambria">Chore Tracker</a>
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right">
					<!-- Settings dropdown menu -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-family:Cambria">Settings<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">About</a></li>
							<li><a href="#">Preferences</a></li>
							<li><a href="#">Help</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
		<div>
			<h1 style="position: relative; left: 10px; width: 500;">{{housemate.full_name }}</h1>
				<div style="width: 100%;">
					<!-- For all of the chores in the chore set, 
						display the ones assigned to housemate.first_name -->
						<table class="table table-hover">
							<tr>
								<th class="info">Status</th>
								<th class="info">Chore Title</th>
								<th class="info">Due Date</th>
								<th class="info"></th>
							</tr>
							{% for chore in housemate.chore_set.all %}
							{% cycle '<tr>' '' %}
								<td><input type="checkbox" style="position: relative; left: 10px;" value= '{{ chore }}' ></td>
								<td> {{ chore.chore_title}} </td>
								<td> {{ chore.due_date }} </td>
								<td style="text-align: center;"><a href="{% url 'chore_app:delete' housemate.id chore.id %}" class="btn btn-danger" role="button">Delete</a></td>
							{% cycle '</tr>' ''%}
							{% endfor %}
						</table>
				</div>
			<div class="button">
				<a href="{% url 'chore_app:addChore' housemate.id %}" class="btn btn-primary" role="button">Add Chore</a></button>
			</div>
		</div>
</body>
