{% extends 'navbar.html' %}
{% load staticfiles %}
{% block content %}
<title>Edit Housemate</title>
<body>
	<h1>Edit Housemate</h1> 
	<form method='POST' action=''>
		{% csrf_token %}
		<label>First name</label></br> 
		<input type='text' name='first_name' default='None'/></br>
		<label>Last name</label></br>
		<input type='text' name='last_name'/></br>
		<label>Email</label></br>
		<input type='text' name='email'/></br>
		<div class='save'>
			<input type='submit' class = "btn btn-success pull-left" value='Save'/>
		</div>
		<div class="cancel">
			<a href="{% url 'chore_app:index' house.id %}" class="btn btn-danger" role="button">Cancel</a>
		</div>
	</form>
</body>
{% endblock %}
