{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block navbar %}
    <ul class="nav navbar-nav navbar-right">
{#        <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>#}
        {% if request.user.is_authenticated %}
            <li><a href="../accounts/logout/">Log out</a> </li>
        {% else %}
            <li><a href="../accounts/login/">Login</a></li>
            <li><a href="../accounts/register/">Register</a></li>
        {% endif %}
    </ul>

{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Welcome to Chore Tracker!</h1>
        <p>This app is so helpful and you can't miss it.</p>
    </div>

{% endblock %}
