{% extends "registrationBase.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block navbar %}
    <ul class="nav navbar-nav navbar-right">
{#        <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>#}        
    </ul>

{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="col-xs-12">
	    <div class="jumbotron"> <center>
	        <h1>Welcome to the Chore Tracker!</h1>
	        <p>Keep track of all house hold chores with the Chore Tracker web application!</p>
	        <p><a href="/accounts/login/">Login to Chore Tracker </a></p>
	        <p><a href="/accounts/register/"> Register </a></p>
	    </center></div>
    </div>

{% endblock %}
