{% extends "navbar.html" %}
{% load staticfiles %}
{% block content %}
<title>House details</title>
<body>
    <div>
	<div id='add-housemate'>
		<a href="{% url 'chore_app:addHousemate' house.id %}" class="btn btn-primary" role="button">Add Housemate</a>
	</div>
	<div>
		<h1>{{ house }}</h1>
	</div>
    {% if house.housemate_set.all %}
	<div>
	    <ul>
	    {% for housemate in house.housemate_set.all %} <!-- If names exist in database, list them out in for loop -->
        	<li>
        		<a class='housemate-name' href="{% url 'chore_app:detail' house.id housemate.id %}">{{ housemate.full_name }}</a>
        		<a href="{% url 'chore_app:editInfo' house.id housemate.id %}" class="btn btn-info" id='edit-del-btn'> <span class="glyphicon glyphicon-pencil"></span></a>
        		<a href="{% url 'chore_app:deleteHousemate' house.id housemate.id %}" class="btn btn-danger" onclick='clicked(event)' id='edit-del-btn'>
                    <script>
                        function clicked(e) {
                            if(!confirm('Are you sure you would like to delete this housemate?')) {
                                e.preventDefault();
                            }
                        }
                    </script>
                    <span class="glyphicon glyphicon-trash"></span></a>
        	</li>
	    {% endfor %}
	    </ul>
	</div>
    {% else %} <!-- If there are no housemates -->
		<div>
		    <p>No names are available.</p>
		</div>	
	{% endif %}
    </div>
</body>
{% endblock %}
