{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block navbar %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="../register/">Register</a></li>
{#        <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>#}
{#        <li><a href="../navbar-fixed-top/">Fixed top</a></li>#}
    </ul>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h1>Login</h1>
            <form method="post" action=".">
                {% csrf_token %}
                {{ form|crispy }}

                <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
                <input type="hidden" name="next" value="{{ next }}" />
                <p></p>
                <p><a href="../register/">Create a New Account</a></p>
                <p><a href="">Reset Password</a></p>
            </form>

{#            <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>#}
{#            <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>#}
        </div>
    </div>
{% endblock %}
