body {
	width: 100%;
	margin: 0;
}

a {
	font-size: 18;
	font-family: Cambria;
	text-align: left;
}

a.hover {
	text-decoration: none;
}

ul {
	list-style: square;
}

table, tr, th, td {
	position: static;
	text-align: left;
}

table {
	margin: 0;
}

th, td {
	font-family: Calibri, Candara, Segoe, 'Sego UI', Optima;
	font-style: normal;
}

div.button {
	position: fixed;
	right: 3;
	top: 55;
}

div.chore {
    position: relative;
    top: 50;
	left: 20;
}
