body {
	width: 100%;
	margin: 0;
}

a {
	font-size: 18;
	font-family: inherit;
	text-align: left;
}

label {
    margin-top: 20px;
}

ul {
	list-style: square;
}

table.table-hover {
	margin-bottom: 0px;
    padding: 0;
}

nav.navbar-inverse {
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: 'Segoe UI', 'Calibri', 'Segoe';
    font-size: 26;
    font-weight: 300;
    padding-left: 7px;
}

.separator {
    width:100%; 
    border-bottom: 1px solid #000000;
 }

td {
    font-size: 16;
	font-family: inherit, Calibri, Candara, Segoe, 'Sego UI', Optima;
	font-style: normal;
    padding: 0;
}

input {
  padding: 5px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  font-family: inherit;
}

input[type='submit'] { 
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 15px 0px; 
}

#name {
    float: left;
}

#add-chore {
    float: right;
	margin-top: 20;
    margin-bottom: 10;
    margin-right: 5;
}

#add-housemate {
    float: right;
    margin-bottom: 10;
    margin-right: 10;
    margin-top: 20;
}

#add-house {
    float: right;
    margin-bottom: 10;
    margin-top: 20;
    margin-right: 10;
}

a.housemate-name {
    font-size: 30; 
    font-family: Cambria; 
    color: green; 
    font-weight: 300;
}

a.house-name {
    font-size: 30;
    font-family: 'Open sans', 'Segoe UI', 'Calibri';
    font-weight: 300;
}

a.house-name-heading {
    font-size: 50;
    font-family: Cambria ;
    font-weight: 300;
    color: #0D3B63;
}

#edit-del-btn {
    margin-bottom: 17;
}

div.save {
    margin: 15px 5px;
}

div.cancel {
	position: absolute;
	margin:15px 5px;
    left: 150;
}

div.add {
	position: relative;
	left: 15;
	bottom: 10;
	width: 400;
	font-size: 32;
}

div#name-button {
    float: left;
}

.edit-info {
	position: relative; 
	background-color: #5bc0de;
	height: 22px; 
	text-align: center; 
	bottom: 3;
	line-height: 0.5em;
}

.contain {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.delete-btn {
    text-align: center;
}

th.table-header {
    font-size: 18;
    font-family: 'Segoe UI';
    font-weight: 625;
    padding: 0;
}

#dropdown-overdue {
    padding: 2px;
    border-radius: 7px;
    font-size: 24;
    text-align: center;
    width: 100%;
    font-family: Georgia, Tahoma, 'Lucida Sans Unicode';
    background-color: #d9534f;
    font-weight: 300;
    outline: none;
}

#dropdown-today {
    font-family: 'Open Sans', 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Tahoma, Arial, sans-serif;
    background-color: #54B6FF;
    font-weight: 300;
    border-radius: 7px;
    font-size: 24;
    text-align: center;
    padding: 0;
    width:100%;
    outline: none;
}

#no-chores {
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Arial, sans-serif, Sans;
    font-size: 20;
    font-weight: 400;
    text-align: center;
}

#dropdown-tomorrow {
    font-family: 'Segoe UI', 'Dejavu Sans', Calibri, Dejavu, Frutiger, Tahoma, Arial, Helvetica, Times;
    background-color: #81C5FF;
    font-weight: 300;
    border-radius: 7px;
    font-size: 24;
    text-align: center;
    padding: 0;
    width:100%;
    outline: none;
}

#dropdown-upcoming {
    font-family: 'Segoe UI', 'Dejavu Sans', Calibri, Dejavu, Frutiger, Tahoma, Arial, Helvetica, Times;
    background-color: #BED1E3;
    font-weight: 300;
    border-radius: 7px;
    font-size: 24;
    text-align: center;
    padding: 0;
    width:100%;
    outline: none;
}
