{% extends 'house/navbar.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
<title>New House</title>
<body>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-1 col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-1">
            <h1>New House</h1>
            <form method='post' action=''>
                {% csrf_token %}
                {{ form|crispy }}
                <div class='save'>
                    <input type='submit' class="btn btn-success pull-left" value='Add House'/>
                </div>
                <div class='cancel'>
                    <a href="{% url 'house:house' %}" class="btn btn-danger" role="button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}
