{% load staticfiles %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'chore_app/css/bootstrap.min.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'chore_app/style.css' %}"/>
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'house/images/icon2.png' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<title>House</title>
<body>
	<!-- Black navbar header -->
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="{% url 'house:house' %}">Chore Tracker</a>
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right">
					<!-- Settings dropdown menu -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">About</a></li>
							<li><a href="#">Preferences</a></li>
							<li><a href="#">Help</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div id='add-house'>
		<a href="{% url 'house:addHouse' %}" class="btn btn-primary" role="button">Add House</a>
	</div>
	<div>
		<h1>Houses:</h1>
	</div>
	{% if houses %}
		<div>
		    <ul>
		    {% for house in houses %}
		    	<div>
		    		<li>
		    			<a href="{% url 'chore_app:index' house.id %}" class='house-name'>{{ house.house_name }}</a>
		        		<a href="{% url 'house:editHouse' house.id %}" class="btn btn-info" id='edit-del-btn'><span class="glyphicon glyphicon-pencil"></span></a>
		        		<a href="{% url 'house:deleteHouse' house.id %}" class="btn btn-danger" onclick='clicked(event)' id='edit-del-btn'>
		        			<script>
		        				function clicked(e) {
		        					if(!confirm('Are you sure you want to delete this house?')) {
		        						e.preventDefault();
		        					}
		        				}
		        			</script>
		        			<span class="glyphicon glyphicon-trash"></span>
		        		</a>
		    		</li>
		    	<div>
		    {% endfor %}
		    </ul>
		</div>
	{% else %}
	    <p>No names are available.</p>
	{% endif %}
</body>

